﻿@{
    ViewBag.Title = "Home Page";
}


<br />  <br />



 @**** install bootstrap-select from nuget
add them to bundle.config
then run !*****@





@Html.DropDownList("User", null, new { @id="select"})

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {


        $("#select").prop('class', 'selectpicker show-tick form-control');
        $("#select").attr('data-live-search', true);
        $('.selectpicker').selectpicker();

    });




</script>






@using(Html.BeginForm("SS","Home",FormMethod.Post))
{
    <input type="submit" value="SSSS" />
}


@using (Html.BeginForm("SSd", "Home", FormMethod.Post))
{
    <input type="submit" value="SSSSdd" />
}

