﻿
@{
    Layout = null;
    Response.ContentType = "text/html";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>general</title>
</head>
<body>
    <div> 
        geb
        @ViewBag.D
    </div>
</body>
</html>
