﻿
@{
    Layout = null;
    Response.ContentType = "text/html";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Http404</title>
</head>
<body>
    <div> 
        HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSHHHHHHHHHHHHHHHHHHHHHHHHHH @ViewBag.D
    </div>
</body>
</html>
